$white: rgb(240, 240, 240);
$grey: rgb(113, 113, 113);
$dark-grey: rgb(29, 29, 29);
$black: rgb(12, 12, 12);
$darker-black: rgb(5, 5, 5);

.home-container
{
    width: 100%vw;
    display: grid;
    grid-template-rows: 90vh 10vh;
    justify-content: center;

    .input-container
    {
        display: flex;
        grid-row: 2;


        .input-box
        {
            background-color: $dark-grey;
            border: none;
            padding: 10px;
            outline: none;
            height: 30px;
            min-width: 300px;
        }

        .submit-button
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $dark-grey;
            border: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 50px;
            padding-right: 15px;
        }

        .submit-button:hover
        {
            cursor: pointer;
        }
    }
}